# Project Name:- Spam Mail Predication Using Logistic Regression

 <pre><b>Workflow</b>:
 1. Collect Mail Data
 2. Data Preprocessing
 3. Train Test Split
 4. Model Used and train our model
 6. Trained model predict Output

In [1]:
# Import Required Libraries or dependencies

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings('ignore')

# Data Collection & Data Preprocessing

In [2]:
# loading the dataset

raw_mail_data = pd.read_csv('mail_data.csv')

In [3]:
# To check first five records

raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
#replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [5]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
# To Check shape of data

mail_data.shape

(5572, 2)

# Label Encoding

In [7]:
# label spam mail as a 0  and ham mail as a 1

mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [8]:
mail_data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
#Separate the data & labels( Assign X to independed variable , y to dependent varibale)

X = mail_data['Message']
y = mail_data['Category']

# Training & Test data

In [10]:
X_train, X_test , y_train , y_test = train_test_split(X, y, test_size=0.20 , random_state=2)

In [11]:
# To check shape of data
print(X.shape , X_train.shape, X_test.shape)

(5572,) (4457,) (1115,)

# Feature Extraction

In [12]:
# transform the text data to feature vectors that can be used as input to the Logistic regression

feature_extraction  = TfidfVectorizer(min_df=1 , stop_words='english' , lowercase=True)

X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [13]:
# Model Training:- Logistic regression

model = LogisticRegression()
model

LogisticRegression()

In [14]:
#training the Logistic Regression model with training data

model.fit(X_train_feature,y_train)

LogisticRegression()

# Model Evalution

In [15]:
#accuracy on training data
X_train_Prediction = model.predict(X_train_feature)
training_data_accuracy = accuracy_score(X_train_Prediction, y_train)

In [16]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9683643706529056

In [17]:
print(classification_report(X_train_Prediction ,y_train))

              precision    recall  f1-score   support

           0       0.77      0.99      0.86       454
           1       1.00      0.97      0.98      4003

    accuracy                           0.97      4457
   macro avg       0.88      0.98      0.92      4457
weighted avg       0.98      0.97      0.97      4457

In [18]:
# Accuracy on test data

X_test_prediction = model.predict(X_test_feature)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [19]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.9524663677130045

In [20]:
print(classification_report(X_test_prediction ,y_test))

              precision    recall  f1-score   support

           0       0.67      0.99      0.80       107
           1       1.00      0.95      0.97      1008

    accuracy                           0.95      1115
   macro avg       0.83      0.97      0.89      1115
weighted avg       0.97      0.95      0.96      1115

# Building a Predictive System

In [21]:
input_mail = ["""I've been searching for the right words to thank you for this breather.
I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]
"""]
# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
      print('Ham mail')

else:
      print('Spam mail')

[1]
Ham mail

In [22]:
input_mail = ["""Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. 
              Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"""]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
      print('Ham mail')

else:
      print('Spam mail')

[0]
Spam mail